.project
.classpath
.settings
build/
.gradle/
.idea/
.DS_Store
.nb-gradle
*.iml
classes/
webapps/
out/

!doc/
!base/


!src/
!lib/
!libs/
!.gitignore
!build.gradle
!gradle.properties
!WebContent/
!Web/
!file/*
